<div class="container-fluid">
  <div class="padding">
    <div class="panel box box-primary">
      <div class="box-header with-border">
        <label style="padding-left: 45%" data-toggle="collapse" data-target="#clientaccordion" aria-expanded="false"
          class="collapsed">
          <div class="row">
            <div class="col-md-12">
              <h4>Client Details</h4>
            </div>
          </div>
        </label>
        <div id="clientaccordion" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <app-client-details></app-client-details>
        </div>
      </div>
    </div>
    <div class="panel box box-primary">
      <div class="box-header with-border">
        <label style="padding-left: 45%" data-toggle="collapse" data-target="#productaccordion" aria-expanded="false"
          class="collapsed">
          <div class="row">
            <div class="col-md-12" style="text-align: center">
              <h4>Product Details</h4>
            </div>
          </div>
        </label>
        <div id="productaccordion" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <app-product-details (emit_product)="product"></app-product-details>
          <!-- <div class="row padding-top">
            <div class="col-md-12">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                  <div class="dropdown">
                    <button type="submit" class="btn" (click)="persistProductDetails(product)">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="panel box box-primary">
      <div class="box-header with-border">
        <label style="padding-left: 45%" data-toggle="collapse" data-target="#billaccordion" aria-expanded="false"
          class="collapsed">
          <div class="row">
            <div class="col-md-12" style="text-align: center">
              <h4>Bills of Materials</h4>
            </div>
          </div>
        </label>
        <div id="billaccordion" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <app-materialsbill></app-materialsbill>
        </div>
      </div>
    </div> -->
    <div class="panel box box-primary">
      <div class="box-header with-border">
        <label style="padding-left: 45%" data-toggle="collapse" data-target="#reviewaccordion" aria-expanded="false"
          class="collapsed">
          <div class="row">
            <div class="col-md-12" style="text-align: center">
              <h4>Review</h4>
            </div>
          </div>
        </label>
        <div id="reviewaccordion" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <app-review></app-review>
        </div>
      </div>
    </div>
  </div>
</div>
