<div class="container-fluid">
  <div class="padding">
    <div id="accordion">
      <div class="panel box box-primary">
        <div class="box-header with-border">
          <label style="padding-left: 45%" data-toggle="collapse" data-target="#clientaccordion" aria-expanded="false"
            class="collapsed">
            <div class="row">
              <div class="col-md-12 header">
                <h4>Client Details</h4>
              </div>
            </div>
          </label>
          <div id="clientaccordion" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;"
            data-parent="#accordion">
            <app-client-details></app-client-details>
          </div>
        </div>
      </div>
      <div class="panel box box-primary">
        <div class="box-header with-border">
          <label style="padding-left: 45%" data-toggle="collapse" data-target="#productaccordion" aria-expanded="false"
            class="collapsed">
            <div class="row">
              <div class="col-md-12 header" style="text-align: center">
                <h4>Product Details</h4>
              </div>
            </div>
          </label>
          <div id="productaccordion" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;"
            data-parent="#accordion">
            <app-product-details></app-product-details>
          </div>
        </div>
      </div>
      <div class="panel box box-primary">
        <div class="box-header with-border">
          <label style="padding-left: 45%" data-toggle="collapse" data-target="#reviewaccordion" aria-expanded="false"
            class="collapsed">
            <div class="row">
              <div class="col-md-12 header" style="text-align: center">
                <h4>Review</h4>
              </div>
            </div>
          </label>
          <div id="reviewaccordion" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;"
            data-parent="#accordion">
            <app-review></app-review>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
