<ngForm>
  <table class="padding-top" style="width: 750px; margin-left: 250px;">
    <tr>
      <div class="row padding-top">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Client Name</label>
          </div>
          <div class="col-md-6">
            <label type="text" class="input-length">{{clientDetail.clientName}}</label>
          </div>
        </div>
      </div>
    </tr>
    <tr>
      <div class="row padding-top">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Company Name</label>
          </div>
          <div class="col-md-6">
            <label type="text" class="input-length">{{clientDetail.company}}</label>
          </div>
        </div>
      </div>
    </tr>
    <tr>
      <div class="row padding-top">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Email</label>
          </div>
          <div class="col-md-6">
            <label type="text" class="input-length">{{clientDetail.email}}</label>
          </div>
        </div>
      </div>
    </tr>
    <tr>
      <div class="row padding-top">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Extension</label>
          </div>
          <div class="col-md-6">
            <label type="text" class="input-length">{{clientDetail.extension}}</label>
          </div>
        </div>
      </div>
    </tr>
    <!-- <tr>
      <div class="row padding-top">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Router</label>
          </div>
          <div class="col-md-6">
            <label type="text" class="input-length">{{product.routerType}}</label>
          </div>
        </div>
      </div>
    </tr> -->
    <tr>
      <div class="row padding-top">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Product</label>
          </div>
          <div class="col-md-6">
            <label type="text" class="input-length">{{clientDetail.productName}}</label>
          </div>
        </div>
      </div>
    </tr>
    <tr>
      <div class="row padding-top">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Total Charges</label>
          </div>
          <div class="col-md-6">
            <label type="text" class="input-length">{{product.price.total}}</label>
          </div>
        </div>
      </div>
    </tr>
    <tr>
      <div class="row padding-top">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Discount Charges</label>
          </div>
          <div class="col-md-6">
            <label type="text" class="input-length">{{product.price.discount}}</label>
          </div>
        </div>
      </div>
    </tr>
    <tr>
      <!-- <div class="row padding-top">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label>Total Charges</label>
          </div>
          <div class="col-md-6">
            <label type="text" class="input-length">{{product.price.total}}</label>
          </div>
        </div>
      </div> -->
    </tr>
  </table>
</ngForm>
